.content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.img {
  max-width: 300px;
  border-radius: 10px;
}

.ul> li {
    position: relative;
}

.ul> li::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 2px;
    bottom: 5px;
    left: -30px;
    background-color: #ECECEC;
}